* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #F6F8FC;
}

.pokeball {
    max-width: 100%;
    position: relative;
}
.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #FFF;
}

@media (prefers-color-scheme: dark) {
    .title {
        color: #FFF;
    }
    body {
        background-color: #000;
    }
    .content{
        background-color:   #1a1919  ;
    }
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

